---
import HeadCircuitImage from "../../assets/HeadCircuit.svg";
import UsersThreeImage from "../../assets/UsersThree.svg";
import StatsContainer from "./StatsContainer.astro";
import shapeImage from "../../assets/2_b.webp";
import StarImage from "../../assets/Star.svg";

const { frame } = Astro.props;
---

<div class="frame">
  <StatsContainer
    number="200"
    icon={{ ...HeadCircuitImage, alternativeText: "Head Circuit" }}
    alternativeText="Head Circuit"
    description="Lorem ipsum dolor sit amet"
    image={{ ...shapeImage, alternativeText: "shape" }}
    __component="shared.stats-container-big"
  />
  <StatsContainer
    number="120"
    icon={{ ...StarImage, alternativeText: "Star" }}
    description="Lorem ipsum dolor sit amet"
  />
  <StatsContainer
    number="10"
    icon={{ ...UsersThreeImage, alternativeText: "Users Three" }}
    alternativeText="Users Three"
    description="Lorem ipsum dolor sit amet"
  />
</div>

<style></style>
