---
import HeadCircuitImage from "../../assets/HeadCircuit.svg";
import UsersThreeImage from "../../assets/UsersThree.svg";
import StatsContainer from "./StatsContainer.astro";
import shapeImage from "../../assets/2_b.webp";
import StarImage from "../../assets/Star.svg";

const { frame } = Astro.props;
---

<div class="frame">
  <StatsContainer
    number="200"
    iconImg={HeadCircuitImage}
    iconImgAlt="Head Circuit"
    description="Lorem ipsum dolor sit amet"
    img={shapeImage}
    __component="shared.stats-container-big"
  />
  <StatsContainer
    number="120"
    iconImg={StarImage}
    iconImgAlt="Star"
    description="Lorem ipsum dolor sit amet"
  />
  <StatsContainer
    number="10"
    iconImg={UsersThreeImage}
    iconImgAlt="Users Three"
    description="Lorem ipsum dolor sit amet"
  />
</div>

<style>

</style>
