---
const { title, color } = Astro.props;
---

<h2>{title}</h2>
<style define:vars={{ "color-heading": color || "unset" }}>
  h2 {
    color: var(--color-heading);
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -1px;
    text-align: center;
  }
</style>
