---
import fetchStyles from "../scripts/fetchStyles";
import "../styles/global.css";
import "normalize.css";

const styles = (await fetchStyles()) || {
  "font-main": "Outfit, sans-serif;",
  "color-black": "rgba(26, 26, 26, 1)",
  "color-white": "rgba(255, 255, 255, 1)",
  "color-surface": "rgba(247, 247, 247, 1)",
  "font-size": "10px",
};
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Default Title"}</title>
    <meta name="description" content={description || "Default Description"} />
    <style is:global define:vars={styles}></style>
  </head>
</html>
