---
// export const prerender = false;

import Headline from "./blocks/Headline.astro";
import { getCollection } from "astro:content";
import Frame from "./blocks/Frame.astro";
import BlockRenderer from "./blocks/BlockRenderer.astro";

const strapiDashboardCollection = await getCollection("strapiDashboardLoader");
if (!strapiDashboardCollection || strapiDashboardCollection.length === 0) {
  throw new Error("No strapiDashboard data found");
}
const strapiDashboardData = strapiDashboardCollection[0]?.data || {};
// console.log("🚀 ~ strapiDashboardData:", strapiDashboardData);
const strapiFrame = strapiDashboardData?.frame || null;
---

<div class="wrapper">
  <Headline title="Headline" text="Lorem ipsum dolor sit amet" />
  {(strapiFrame && <BlockRenderer blocks={strapiFrame} />) || <Frame />}
</div>

<style>
  .wrapper {
    padding: 1rem;
    margin-inline: auto;
    width: fit-content;
  }
</style>
