---
// export const prerender = false;

import Headline from "./blocks/Headline.astro";
import { getCollection } from "astro:content";
import Frame from "./blocks/Frame.astro";
import BlockRenderer from "./blocks/BlockRenderer.astro";

const strapiDashboardCollection = await getCollection("strapiDashboardLoader");
if (!strapiDashboardCollection || strapiDashboardCollection.length === 0) {
  console.error("No strapiDashboard data found");
}

const strapiDashboardCollectionArray = strapiDashboardCollection[0] || [];
const strapiDashboardData = strapiDashboardCollectionArray?.data || {};
const strapiFrame = strapiDashboardData?.frame || null;
const strapiHeadline = strapiDashboardData?.headline || null;
---

<div class="wrapper">
  {
    (strapiHeadline && <BlockRenderer blocks={strapiHeadline} />) || (
      <Headline title="Headline" text="Lorem ipsum dolor sit amet" />
    )
  }

  {
    (strapiFrame && (
      <div class="frame">
        <BlockRenderer blocks={strapiFrame} />
      </div>
    )) || <Frame />
  }
</div>

<style>
  .wrapper {
    padding: 1rem;
    margin-inline: auto;
    width: fit-content;
  }
</style>
