---
import Headline from "./blocks/Headline.astro";
import Frame from "./blocks/Frame.astro";
---

<div class="wrapper">
  <Headline title="Headline" text="Lorem ipsum dolor sit amet" />
  <Frame />
</div>

<style>
  .wrapper {
    padding: 1rem;
    margin-inline: auto;
    width: fit-content;
  }
</style>
