---
import Headline from "./blocks/Headline.astro";
import { getCollection } from "astro:content";
import Frame from "./blocks/Frame.astro";

const strapiDashboard = await getCollection("strapiDashboardLoader");

if (!strapiDashboard || strapiDashboard.length === 0) {
  throw new Error("No strapiDashboard data found");
} else {
  console.log("🚀 ~ strapiDashboard:", strapiDashboard[0].data);
}
---

<div class="wrapper">
  <Headline title="Headline" text="Lorem ipsum dolor sit amet" />
  <Frame />
</div>

<style>
  .wrapper {
    padding: 1rem;
    margin-inline: auto;
    width: fit-content;
  }
</style>
